.course {

    .read-more-state {
        display: none;
    }

    .read-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: $transition-light;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999rem;
    }

    .read-more-state ~ .read-more-trigger:before {
        content: "Read more ...";
        text-decoration: underline;
    }

    .read-more-state:checked ~ .read-more-trigger:before {
        content: "Read less";
        text-decoration: underline;
    }

    .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        color: $link-color;
        font-size: rem(17);
        line-height: 2;
        &:hover, &:focus {
            cursor: pointer;
            color: $link-hover-color;
        }
    }
    &-about {
        background-color: $grey-bg;
        padding-bottom: rem(30);
        .course-about__descr {
            font-size: rem(16);
            line-height: rem(21);
            color: $text-color;
        }
        &-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        &-speakers {
            @include sm(justify-content, center);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: rem(20) 0 rem(20);
            .speaker {
                @include md(justify-content, flex-start);
                @include md(padding, 0 rem(25));
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 50%;
                .speaker-descr {
                    @include md(align-items, flex-start);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .speaker-descr-name {
                    @include md(text-align, left);
                    text-align: center;
                    font-size: rem(21);
                    margin-bottom: .5rem;
                }
                &-img {
                    @include md(display, flex);
                    display: none;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: rem(30);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    &:hover, &:focus {
                        cursor: pointer;
                        opacity: .7;
                    }
                }
                p, p small {
                    @include md(text-align, left);
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
