section.course-about
    .container
        .course-about-box
            h4.course-about__title About this Course
            p.course-about__descr The course addresses the management of a technical progress from concept to operation use, with emphasis on the functions roles, and responsibilities of the project manager. From the development of a proposal to the delivery of a product to a customer the efforts to conceive, plan, budget, schedule
                | monitor, control/direct, #[a(href="#") Read More ...]
        .course-about-speakers
            .speaker
                .speaker-img
                    img(src="img/speakers/CJ-Utara.jpg", alt="Cristian \"CJ\" Utara")
                .speaker-descr
                    a(href="#").speaker-descr-name Cristian "CJ" Utara
                    h6.speaker-descr-status Course Manager
                    h6.speaker-descr-place Johns Hopkins Engineering
            .speaker
                .speaker-img
                    img(src="img/speakers/JoAnne.jpeg", alt="JoAnne Saunders")
                .speaker-descr
                    a(href="#").speaker-descr-name JoAnne Saunders
                    h6.speaker-descr-status Section Instructor
                    h6.speaker-descr-place Johns Hopkins Engineering
