section.course-about.mb-20
    .container
        .course-about-box.mb-20
            h4.course-second__title.mb-20 About this Course
            .spoiler
                input(type="checkbox")#about-course.read-more-state
                p.read-more-wrap
                    | The Faculty Forward Program provides intensive pedagogical approaches, such as active learning and problem-based learning, combined with the power of technology to increase student engagement and learning.
                    | The Faculty Forward Program is developed, implemented, and facilitated by faculty and instructional designers. The program models best practices in online, face-to-face, and blended learning modalities
                    span.read-more-target
                        | and blended learning modalities by offering both online and face-to-face components. The faculty fellows who complete the program will push the boundaries for what is possible in online and digital learning which is critical to the vision of the Whiting School of Engineering/Engineering for Professionals and The Johns Hopkins University. The faculty who participate in the program will be better equipped with the strategies and tools needed in today’s ever-evolving higher education climate.
                        | rem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus vero dolore repudiandae quasi maxime! Error, corrupti at! Totam sint perspiciatis minus at quasi dolor ad! Eos reiciendis rem sed maiores cum recusandae sunt, architecto itaque ducimus voluptate quod doloribus doloremque asperiores repellendus placeat at! Hic molestiae culpa voluptates minus impedit optio fuga dolorum? Exercitationem inventore debitis iste facilis dicta omnis distinctio est quibusdam pariatur eligendi, praesentium esse quaerat nostrum veritatis nam? Perferendis nemo voluptas sed, fugit, deleniti quod eum architecto corporis doloremque sunt saepe minus impedit obcaecati consectetur totam corrupti, nulla id dolor ipsum odit dolores! Laudantium reprehenderit error ab quam rem amet temporibus accusantium non? Consectetur saepe, dolorem ratione molestiae dolore expedita aliquam nam aperiam neque at et, voluptate delectus, fugit mollitia suscipit voluptates repellendus! Rerum, esse magnam aliquid facere praesentium dolorem corporis, quisquam commodi dolor nisi maiores numquam at delectus sequi aperiam sed quasi. Magni, optio, vitae eaque quo rem laboriosam error quam minus facilis est pariatur possimus molestias doloribus perspiciatis consequuntur mollitia odit amet itaque ipsum! Minima dolor exercitationem voluptatum fugit quod, repellendus perspiciatis aliquam nam repellat ipsam sint suscipit molestias culpa magnam tenetur, commodi est dolorem a corporis, iusto molestiae obcaecati modi nulla quas. Illum, autem.
                label.read-more-trigger(for='about-course')

        .course-about-speakers
            .speaker
                .speaker-img
                    img(src="img/speakers/CJ-Utara.jpg", alt="Cristian \"CJ\" Utara")
                .speaker-descr
                    a(href="#").speaker-descr-name Cristian "CJ" Utara
                    p #[small Course Manager]
                    p #[small Johns Hopkins Engineering]
            .speaker
                .speaker-img
                    img(src="img/speakers/JoAnne.jpeg", alt="JoAnne Saunders")
                .speaker-descr
                    a(href="#").speaker-descr-name JoAnne Saunders
                    p #[small  Section Instructor]
                    p #[small Johns Hopkins Engineering]
