extends layouts/default
include helpers/mixins

block variables
	- const title = "Course"

block content
	.course
		include ../blocks/modules/course-title/course-title
		include ../blocks/modules/course-about/course-about
		include ../blocks/modules/course-info/course-info
block scripts
	script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
	script(src="js/main.js")
