section.course-info
    .container
        .course-info-box
            h4.course-second__title.mb-20 #[a(href="#") Course Information]
        ul.course-info-list
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fa.fa-list
                    p.course-info-item__text Syllabus
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fa.fa-list-alt
                    p.course-info-item__text Course Outline
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fa.fa-clock-o
                    p.course-info-item__text Office Hours
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fa.fa-calendar
                    p.course-info-item__text Calendar

