section.course-info
    .container
        .course-info-box
            h4.course-second__title.mb-20  Course Information
        ul.course-info-list
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fas.fa-file-alt
                    p.course-info-item__text Syllabus
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fas.fa-tasks
                    p.course-info-item__text Course Outline
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fas.fa-user-clock
                    p.course-info-item__text Office Hours
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fas.fa-calendar-alt
                    p.course-info-item__text Calendar
            li
                a(href="#").course-info-item
                    .course-info-item__ic
                        i.fas.fa-bullhorn
                    p.course-info-item__text Announcements

