.course {
    &-info {
        &-list {
            @include md(justify-content, flex-start);
            @include row-flex();
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            width: 100%;
            .course-info-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                text-decoration: none;
                &__ic {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background: $btn-hover-bg;
                    color: $white;
                    margin-bottom: rem(15);
                    .fa, .fas {
                        font-size: rem(30);
                    }
                }
                &__text {
                    color: $text-color;
                }
                &:hover, &:focus {
                    .course-info-item__ic {
                        background: $btn-bg;
                        transition: $transition;
                    }
                    .course-info-item__text {
                        color: $link-color;
                    }
                }
            }
            & > li {
                @include col();
                @include size(6);
                @include size-md(3);
                @include size-lg(2);
                @include sm(margin-bottom, 20px);
                margin-bottom: rem(40);
            }
        }
    }
}
