.course {
    &-title {
        background-color: $grey-bg;
        padding: rem(30) 0;
        &__text {
            font-size: rem(29);
            white-space: nowrap;
        }
        &-box {
            @include lg(justify-content, space-between);
            @include lg(flex-direction, row);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            .btn {
                @include lg(margin, 0);
                margin: rem(15) 0 0 0;
            }
        }
    }
}
