.course {
    &-title {
        background-color: $grey-bg;
        padding: rem(30) 0;
        &-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &__text {
            font-size: rem(26);
        }
    }
}
